{% extends "layout.html" %}
{% block body %}
<div class="container">
  <h1>About</h1>   
  <p> 
    Here's a list of all the games (past, present and future) I've made or been a part of making:
  </p>
  <h2> Solo Projects </h2>
  <table class="table">
  <thead>
      <tr>
        <th>Name</th>
        <th>Platform</th>
        <th>Status</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
         <tr>
            <td>Game and Watch: Ball clone</td>
            <td>Pebble</td>
            <td>Complete</td>
            <td>
                <p>Simple game where players compete to get the highest score from juggling balls. The balls are in three pre-determined lanes, and they move faster over time. Player moves the juggler at the bottom of the screen to stop the balls crashing.</p>
            </td>
         </tr>
         <tr>
            <td>Game and Watch: Fire clone</td>
            <td>Pebble</td>
            <td>Planned</td>
            <td><p>
            </p>
                Players aim to get the highest score by rescuing people from a burning building. The player controls a rescue team that catch people as they fall, sending them bouncing toward the waiting ambulance.
            </td>
         </tr>
    </tbody>
  </table>
    
  <h2> Team Modular </h2>
 
 <table class="table">
  <thead>
      <tr>
        <th>Name</th>
        <th>Platform</th>
        <th>Status</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
         <tr>
            <td>TowBully</td>
            <td>PC</td>
            <td>Alpha</td>
            <td>
                <p>
                    Caravan racing game! Currently there is a race game-mode, but there are planned modes for derby and micro-machines-esque multiplayer.
                </p>
            </td>
         </tr>
         <tr>
            <td>Audiosplode</td>
            <td>PC</td>
            <td>Abandoned</td>
            <td>
            <p>
                Tower defence game where the enemies make music when killed, allowing the player to make music by controlling the flow and behaviour of enemies. The player could make towers that killed certain types of enemies, along with slowing them down to change their pitch. 
            </p>
            </td>
         </tr>
    </tbody>
  </table>
 
</div>
{% endblock %}

