{% extends "layout.html" %}
{% block body %}
<div class="container">
  <h2>Ball High Scores</h2>   
  <div>
  <h3>Top ten players</h3>
  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th>Name</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {% for score in topscoresByPlayerTable %}
         {% if score.index==1 %}
         <tr class="active">
         {% else %}
         <tr>
         {% endif %}
         <td>{{ score.index }}</td>
         <td>{{ score.username }}</td>
         <td>{{ score.score }}</td>
         </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  <div>
  <h3>Top ten scores</h3>                  
  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th>Name</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {% for score in topscoresalltimeTable %}
         {% if score.index==1 %}
         <tr class="active">
         {% else %}
         <tr>
         {% endif %}
         <td>{{ score.index }}</td>
         <td>{{ score.username }}</td>
         <td>{{ score.score }}</td>
         </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endblock %}

